<form id="rename-item-form" method="post">
  <input type="hidden" name="id" id="rename-item-id" />

  <%- include('../../field', { name: 'name', label: 'New name', errors: locals.errors, value: locals.formValues && locals.formValues.name }) %>

  <button type="submit">Rename</button>
</form>
