<form action="/folders" method="post">
  <% if (locals.folder) { %>
    <input type="hidden" name="parentId" value="<%= locals.folder.id %>" />
  <% } %>

  <%- include('../../field', { name: 'folderName', label: 'Name', errors: locals.errors }) %>

  <button type="submit">Create</button>
</form>