<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
  </head>
  <body>
    <h1>File Uploader</h1>

    <% if (isAuthenticated) { %>
    <h2>Welcome, <%= user.username %></h2>
    <form action="/auth/logout" method="post">
      <button type="submit">Logout</button>
    </form>
    <% } else { %>
    <h2>Please <a href="/auth/login">login</a> to continue</h2>
    <% } %>
  </body>
</html>
