<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | File Uploader</title>
  </head>
  <body>
    <h1>Register</h1>

    <form action="/auth/register" method="post">
      <%- include("partials/field", { name: "username", label: "Username", errors: locals.errors }) %>
      <%- include("partials/field", { name: "password", label: "Password", type: "password", errors: locals.errors }) %>
      <%- include("partials/field", { name: "passwordConfirm", label: "Confirm Password", type: "password", errors: locals.errors }) %>

      <button type="submit">Register</button>
    </form>

    <div>Already have an account? <a href="/auth/login">Login</a></div>
  </body>
</html>
