<button type="button" class="action-menu-trigger" data-target="<%= target %>" data-id="<%= id %>">⋮</button>

<div class="action-menu" style="display: none;">
  <button type="button" class="action-rename">Rename</button>
  <button type="button" class="action-delete">Delete</button>
</div>
